.message-display {
  overflow: scroll;
  width: 300px;
  height: 200px;
  background: -webkit-linear-gradient(left top, red , blue); /* For Safari */
  background: -o-linear-gradient(bottom right, red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red , blue); /* Standard syntax (must be last) */
  padding:15px;
}

#container {
  margin: 0 auto 0 auto;
  width: 400px;
}

.text {
  width:300px;
}

@keyframes myfirst
{
  0%   {background: pink;}
  50%  {background: hotpink;}
  100% {background: pink;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%   {background: pink;}
  50%  {background: hotpink;}
  100% {background: pink;}
}

body {
  animation: myfirst 10s;
  -webkit-animation: myfirst 10s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}